/*rtl css*/
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
:root {
    --color-primary1: #212121;
    --font-awesome:'FontAwesome';
}
body{
  margin:0;
  padding:0;
  -ms-word-wrap:break-word;
  word-wrap:break-word;
  background-color:#fff;
  font-size:15px;
  overflow-x: hidden;
  color: #676767;
  font-family: "Instrument Sans", sans-serif;
}
body.custom-background{
  background-color: #fff !important;
}
h1,h2,h3,h4,h5,h6{
  color: #151515;
  font-family: "Instrument Sans", sans-serif;
  line-height: 1.3;
}
p{
  font-size: 15px;
  font-family: "Instrument Sans", sans-serif;
  line-height: 1.3;
}
a{
  text-decoration:none;
  color: var(--color-primary1);
}
a:hover{
  text-decoration:none;
}
input[type="search"] {
  padding: 10px;
  border: 1px solid #ebebeb;
  font-size: 15px;
}
button[type="submit"] {
  padding: 11px;
  background: var(--color-primary1);
  cursor: pointer;
  color: #fff;
  border: 1px solid var(--color-primary1);
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
textarea{
  width: 100%;
}
#theme-sidebar .textwidget a,
#footer .textwidget a,
.comment-body a,
.entry-content a,
.entry-summary a,
#main-content p a{
  text-decoration: underline;
  color: var(--color-primary1);
}

a.page-numbers{
  color: #fff;
}

/*--------------------------------------------------------------
Accessibility CSS
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
  Pre Loader
--------------------------------------------------------------*/

.loader{
  background: #fff;
  z-index: 99999;
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
}
.center{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  border: 5px solid #151515;
  border-radius: 50%;
}
.center1{
  width: 200px;
  height: 200px;
  border-right-color: var(--color-primary1);
  border-top-color: var(--color-primary1);
  animation: animateCenter1 2s infinite linear;
}
.center2{
  width: 100px;
  height: 100px;
  border-right-color: var(--color-primary1);
  border-top-color: var(--color-primary1);
  animation: animateCenter2 2s infinite linear;
}
.ring{
  position: absolute;
  top: 0;
  right: 50%;
  transform-origin: bottom;
  transform: translateX(50%);
  width: 4px;
  height: 50%;
  background: transparent;
}
.center1 .ring{
  transform: translateX(50%) rotate(-45deg);
}
.center2 .ring{
  transform: translateX(50%) rotate(135deg);
}
.ring::before{
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%,-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.center1 .ring::before {
  background: var(--color-primary1);
}
.center2 .ring::before{
  background: var(--color-primary1);
}
@keyframes animateCenter1{
  0%{
    transform: translate(50%,-50%) rotate(0deg);
  }
  100%{
    transform: translate(50%,-50%) rotate(-360deg);
  }
}
@keyframes animateCenter2{
  0%{
    transform: translate(50%,-50%) rotate(0deg);
  }
  100%{
    transform: translate(50%,-50%) rotate(360deg);
  }
}


/*--------------------------------------------------------------
Header Details
--------------------------------------------------------------*/
.logo p.site-title, .logo h1{
  font-weight: 600;
}
.logo p.site-title a, .logo h1 a{
  color:#212121;
  text-transform: capitalize;
  font-size: 38px;
}
.logo p.site-title a:hover, .logo h1 a:hover{
  color:#212121;
}
.logo p.site-description{
  font-size: 14px;
  color:#212121;
}
.top-text{
  background: #212121;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.product-cart.text-center.position-relative{
  display: flex;
  align-items: center;
}
.product-cart a{
  position: relative;
}
.product-cart .cart-count {
  bottom: auto;
  position: absolute;
  top: -10px;
  right: 50%;
  left: auto;
  background-color: var(--color-primary1);
  color: #ffffff;
  border-radius: 50%;
  padding: 2px 6px;
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
}
/*cart css*/
.header-details {
    display: flex;
    justify-content: left;
    align-items: center;
}
.header-details i {
    font-size: 15px;
    color: var(--color-primary1);
}
.header-details i:hover{
  color: var(--color-primary1);
}
.header-details p {
    font-size: 15px;
}
.product-cart.text-center.position-relative{
  display: flex;
  align-items: center;
}
.product-cart a{
  position: relative;
}
.product-cart .cart-count {
  bottom: auto;
  position: absolute;
  top: -10px;
  left: -10px;
  right: auto;
  background-color: #ff5b5b;
  color: #ffffff;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  font-weight: 600;
}

/*--------------------------------------------------------------
Menu bar
--------------------------------------------------------------*/
@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.25);
  background: #fff;
}
ul.list_nav {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.main-navigation li{
  position: relative;
  display: inline-block;
}
.main-navigation li:first-child a{
  padding-right: 0;
}
.main-navigation ul ul li:first-child a{
  padding-right: 22px;
}
.main-navigation a{
  display: block;
  color: #212121;
  padding: 16px 20px;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  z-index: 99;
}
.main-navigation ul .menu-item.menu-item-has-children .sub-menu a:after,
.main-navigation ul .page_item.page_item_has_children .children a:after,
.main-navigation ul .current_page_item .sub-menu a:before,
.main-navigation ul .current_page_item .children a:before{
  content: none;
}
.main-navigation ul .current_page_item a,
.main-navigation ul .current_page_item a{
  color: var(--color-primary1);
}
.main-navigation ul .current_page_item ul.sub-menu a,
.main-navigation ul .current_page_item ul.sub-menu a{
  color: #fff;
}
.main-navigation ul li.current_page_item.menu-item-has-children::after{
  color: var(--color-primary1);
}
.main-navigation li.menu-item-has-children::after {
    content: "\f078";
    font-family: var(--font-awesome);
    font-weight: 400;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    color: #fff;
    z-index: 1;
    font-size: 12px;
}
.main-navigation ul{
  margin-bottom: 0;
  padding-right: 0;
}
.main-navigation ul ul.sub-menu li.menu-item-has-children::after{
  content:none;
}
.main-navigation a:hover{
  color: var(--color-primary1);
}
.main-navigation ul ul{
  opacity: 0;
  position: absolute;
  right: 0;
  top: 100% ;
  background: var(--color-primary1);
  min-width: 215px;
  z-index: 9999;
  color: #fff;
  padding: 0;
}
.main-navigation ul ul ul{
  right: 100%;
  top: 0;
}
.main-navigation ul ul a{
  color: #fff;
}
.main-navigation ul ul li,
.menubar.scrolled .main-navigation ul ul li{
  float: none;
  display: block;
  text-align: right;
  border-bottom: 1px solid #fff;
  border-right: none;
  border-left: none !important;
}
.main-navigation ul ul li:last-child{
  border-bottom: 0;
}
.main-navigation ul li:hover > ul{
  opacity: 1;
}
.main-navigation li.menu-item-has-children:hover > ul, .main-navigation li.menu-item-has-children:focus > ul, .main-navigation li.menu-item-has-children.focus > ul{
  opacity: 1;
}
.main-navigation .menu > ul > li.highlight{
  background-color: var(--color-primary1);
}
.main-navigation .menu > ul > li.highlight:hover{
  background: transparent;
}
.menubar.scrolled .menu > ul > li:hover > a:after,
.menubar.scrolled .menu > ul > li.current_page_item > a:after,
.menubar.scrolled .menu > ul > li.current-menu-item > a:after{
  height: 2px;
}
.menu > ul > li.exoplanet-search:after{
  background: transparent !important;
}
.main-navigation ul ul li:hover > a, .main-navigation ul ul li > a{
 color: #fff;
}
.main-navigation ul.sub-menu li.page_item_has_children a:after, .main-navigation ul.sub-menu li.menu-item-has-children a:after{
  color: var(--color-primary1);
  left: 10px;
  font-size: 12px;
}
.toggle-nav, a.closebtn{
  display: none;
}
.main-navigation .sub-menu {
  list-style: none;
  padding-right: 0;
  opacity: 0;
  right: -9999px;
  z-index: 99999;
  width: 200px !important;
}
.main-navigation .menu-item-has-children:not(.off-canvas):hover > .sub-menu,
.main-navigation .menu-item-has-children:not(.off-canvas):focus > .sub-menu,
.main-navigation .menu-item-has-children.is-focused:not(.off-canvas) > .sub-menu,
.main-navigation .menu-item-has-children:not(.off-canvas)[focus-within] > .sub-menum,
.main-navigation .menu-item-has-children:not(.off-canvas):focus-within > .sub-menu  {
  display: block;
  right: 0;
  margin-top: 0;
  opacity: 1;
  width: auto;
  min-width: 100%;
}
ul.sub-menu ul.sub-menu{ 
  right: 202px !important
}

/*block widget for footer*/
#footer .wp-block-details summary{
  color: #fff;
}
#footer .widget.widget_block.widget_text a{
  text-decoration: underline;
}
#footer .wp-calendar-table th{
  background-color: var(--color-primary1);
  color: #fff;
  border-color: var(--color-primary1);
}
#footer .tagcloud a, #footer p.wp-block-tag-cloud a{
  text-decoration: none;
}
/*block widget for sidebar*/
#secondary .wp-calendar-table th, #theme-sidebar .wp-calendar-table th{
  background-color: var(--color-primary1);
  color: #fff;
  border-color: var(--color-primary1);
}
#secondary .widget.widget_block.widget_text p a,
#theme-sidebar .widget.widget_block.widget_text p a{
  text-decoration: underline;
}
#secondary li a,#secondary .widget.widget_block.widget_tag_cloud a, #theme-sidebar li a,
#theme-sidebar .widget.widget_block.widget_tag_cloud a{
  text-decoration: none;
}
#theme-sidebar li.recentcomments a:before {
    content: none;
}
/*--------------------------------------------------------------
Post Pages
--------------------------------------------------------------*/

.page-box {
  margin: 0 0px 4em 0;
  padding: 45px 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 2px #aaa;
  border-bottom: 3px solid var(--color-primary1);
}
.page-box:hover{
  box-shadow: 0 0 20px #cfcfcf;
}
#category-post .entry-video, #category-post .entry-audio{
  padding-bottom: 7px;
}
.blog-description{
  font-size: 15px;
  color: #fff;
}
.box-image-page{
  position: relative;
  z-index: 5;
  background: #000;
}
.box-image-page img,
.box-content img {
  width: 100%;
  height: auto;
}
.external-div {
  position: relative;
  text-align: center;
  margin-top: 0;
  height: 400px;
  margin-bottom: 0;
  background: #000;
}
.external-div .box-image-page img{
  object-fit: cover;
  position: absolute;
  height: 400px;
  width: 100%;
  right: 0;
  left: 0;
  background-size:cover;
}
.single-page-img, .featured-image{
  opacity: 0.5;
}
.box-text{
  position: absolute;
  bottom: auto;
  top: 60%;
  left: 30%;
  right: 30%;
  z-index: 5;
  text-align: center;
  transform: translateY(-50%);
}
.box-text h2{
  color: #fff;
  text-transform:capitalize;
  font-size: 40px;
  font-weight: 700;
}
.box-info i {
  margin-left: 5px;
  color: var(--color-primary1);
  font-size: 14px;
}
.box-info {
  padding: 5px 0;
}
.content-area .box-info a, .content-area .box-info span {
  margin-left: 10px;
  color: #001837;
  font-size: 15px;
  display: inline-block;
}
.content-area .box-info .entry-time{
  padding-left: 10px;
}
.content-area .box-info a, .box-info span{
  padding-bottom: 8px;
}
.content-area .box-info a:hover{
  color: var(--color-primary1);
}
.page-box p {
  color: #8f8787;
  font-size: 15px;
  margin: 15px 0;
}
.page-box h4 a:hover{
  color: var(--color-primary1);
}
.page-box h4 a {
  font-size: 25px;
  font-weight: bold;
  color: #000;
}
.page-box h4 {
  padding-bottom: 10px;
  margin-bottom: 10px;
 
}
.page-box a,.nav-links a {
  text-decoration: none;
}
.page-box .readmore-btn a {
  display: inline-block;
  padding: 8px 14px;
  border-radius: 0;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  background-color:var(--color-primary1);
  color: #fff;
}
.page-box .readmore-btn a:hover{
  border: 1px solid var(--color-primary1);
  color: var(--color-primary1);
  background: #fff;
}

/*-----------------Search pop up----------------*/
.inner_searchbox{
  background: #fff;
  max-height: 150px;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0px 0px 12px #c0bebe;
  transition: 1s height ease-in-out;
}
.search-close {
    position: absolute;
    top: 0;
    font-size: 24px;
    z-index: 9999;
    left: 2%;
    color: #332f2e;
    background: none;
    cursor: pointer;
    transition: 0.5s height ease-in-out;
}
.inner_searchbox form.search-form {
  width: calc(100% - 30px);
  color: #fff;
  border: none;
  border-bottom: 1px solid #eae6e6;
  position: absolute;
  bottom: 20px;
  display: flex;
  padding: 0;
  border-radius: 0;
  background: #ffffff;
  max-width: 1200px;
  text-align: right;
}
.inner_searchbox form.search-form label {
  width: 90%;
}
.inner_searchbox input.search-field {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #112b38;
  max-height: 1200px;
  border: 0;
  width: 100%;
}
.inner_searchbox input.search-submit {
  padding: 8px 35px;
  margin: 5px 0;
  font-size: 20px;
}
.search-bar button{
  background: transparent;
  border: 0;
}
.search-outer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 0;
  visibility: hidden;
  text-align: center;
  height: 100%;
  transition: 1s height ease-in-out;
  z-index: 999999;
}
body.search-focus .search-outer{
  visibility: visible;
  transition: 1s height ease-in-out;
}
body.admin-bar .inner_searchbox{
  margin-top: 32px;
}
body.admin-bar .search-close{
  top:38px;
}
.search-outer button.search-close:focus{
  outline:2px solid #000;
}
.search-outer button.search-submit {
 border: 0;
 background: transparent;
}
.inner_searchbox button[type="submit"]{
    background:none;
}
.search-outer input.search-field {
 border: none;
 padding: 4px 0;
 background: transparent;
 width: 95%;
}
.search-bar i {
  font-size: 18px;
  color: #000;
  border-radius: 0;
  display: inline-block;
  text-align: center;
}
.search-bar button {
  background: none;
  border:none;
}
.inner_searchbox button[type="submit"]{
  background-color: var(--color-primary1);
  color: #fff;
  padding: 12px 24px;
  text-align: center;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
}
.inner_searchbox button[type="submit"]:hover{
  background-color:#1c2539;
}
button.search-submit i{
    color: #332f2e;
}
.modal-content{
  background: transparent;
  border: 0;
}
.modal-dialog{
  pointer-events: all;
}
.modal-body{
  padding: 0;
}
#myModal, .modal-open {
  padding: 0 !important;
}
.modal-open{
  overflow-y: scroll;
}
body.admin-bar .inner_searchbox{
  margin-top: 32px;
}
body.admin-bar .closepop{
  top:30px;
}

/*--------------------------------------------------------------
SLIDER
--------------------------------------------------------------*/
#slider{
  max-width:100%;
  margin:auto;
  padding:0;
  position: relative;
  z-index: 10;
}
#slider .slider-border img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
#slider .inner_carousel{
  position: relative;
  z-index: 10;
}
#slider .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  right: 15%;
  left: 15%;
  z-index: 9999;
  bottom: auto;
}
#slider .owl-carousel{
  display: block !important;
}
#slider .inner_carousel h1{
  font-weight: 700;
  position: relative;
  z-index: 9;
  line-height: 1.3;
}
#slider .inner_carousel h1 a{
  color: #fff;
  font-size: 80px;
  letter-spacing: 5px;
}
#slider .more-btn{
  position: absolute;
  bottom: 2%;
  right: 50%;
  left: auto;
  transform: translateX(50%);
  top: auto;
}
#slider .more-btn a{
  color: #fff;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 1px;
}
/* -----------------------product CSS-------------------- */
#product-section .product-image {
    position: relative;
}
#product-section p.project-top-text{
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary1);
  position: relative;
  display: block;
  display: inline-block;
  margin: 0 0 5px;
  letter-spacing: 2px;
}
#product-section .feature-left h2 {
  font-size: 26px;
  color: var(--color-primary1);
  margin-bottom: 28px;
  font-weight: 600;
  margin-top: 7px;
  letter-spacing: 3px;
}
#product-section .sale-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--color-primary1);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 8px;
    z-index: 10;
    display: inline-block;
}
#product-section .main-rating{
  position: absolute;
    top: 2%;
    left: 2%;
    background-color:var(--color-primary1);
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 4px 8px;
    letter-spacing: 2px;
    z-index: 10;
    display: inline-block;
}
#product-section {
    padding: 50px 0px;
}
#product-section .heading-expert-wrap p {
    color: var(--color-primary1);
    font-size: 15px;
    font-weight: 600;
    margin: 30px 0px 0px 0px;
}
#product-section .heading-expert-wrap h5 {
    margin: 0px 0px 18px 0px;
    font-size: 28px;
    font-weight: 500;
}
#product-section .product-image {
    width: 100%;
}
#product-section .product-image img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    position: relative;
}
#product-section .flex-row {
    gap: 25px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-auto-flow: dense;
}
#product-section .main-pro-content {
    padding: 0 20px;
}
#product-section h3.product-heading-text {
    font-weight: 600;
    margin: 0;
}
#product-section h3.product-heading-text a{
  color:var(--color-primary1);
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 2px;
  display: inline-block;
}
#product-section p.product-price {
  margin-top: 5px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
#product-section .product-price del{
   font-size: 16px;
    font-weight: 400;
    color: #212121;
  letter-spacing: 2px;
}
#product-section .product-price ins bdi{
  color: #212121;
  text-decoration: none;
  padding-left: 10px;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 17px;
}
#product-section .product-box {
  position: relative;
}
#product-section .product-box:hover .sale-tag span.onsale{
  background: var(--color-primary1);
}
#product-section .price-prod{
  display: flex;
}
#product-section .cart-button i{
  color: #676767;
    margin-left: 8px;
    font-size: 14px;
}
#product-section .sale-tag{
  position: absolute;
  color: #fff;
  top: 2%;
  right: 2%;
  background: #000;
  letter-spacing: 2px;
  font-size: 14px;
}
#product-section .sale-tag span.onsale {
  background: #000;
    padding: 8px 25px;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
}
#product-section .product-image{
  position: relative;
}
#product-section .product-image h3{
  position: absolute;
  bottom: 0;
}
#product-section span.onsale {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}
#product-section .cart-button {
    display: block;
}
#product-section .cart-button a {
  color: #676767;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 6px;
}
#product-section .price-prod {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#product-section a.add_to_cart_button, #product-section .added_to_cart {
  color: var(--color-primary1);
  border: 1px solid var(--color-primary1);
  padding: 7px 15px 7px 34px;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  margin: 0 auto;
  letter-spacing: 3px;
}
#product-section a.add_to_cart_button{
    margin-bottom: 10px;
}
#product-section a.add_to_cart_button:after {
  content: "\f07a";
  font-family: 'FontAwesome';
  position: absolute;
  left: auto;
  display: inline-block;
  padding-right: 5px;
}
#product-section .add_to_cart_button:hover, #product-section .added_to_cart{
  background: var(--color-primary1) !important;
  color: #fff !important;
  border-radius: 0;
}
#product-section .added_to_cart{
  padding: 10px;
}
#product-section .product-price{
  margin: 0 auto;
}
/*--------------------------------------------------------------
WOOCOMMERCE CSS
--------------------------------------------------------------*/
.woocommerce nav.woocommerce-pagination ul li {
  border-left: none;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span{
  padding:15px;
}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current{
  background: var(--color-primary1);
  color: #fff;
}
.woocommerce nav.woocommerce-pagination ul{
  border:none;
}
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea{
  padding: 10px;
}
.woocommerce ul.products li.product .button,
a.checkout-button.button.alt.wc-forward {
  margin-top: 1em;
  font-size: 14px;
}
.woocommerce  .star-rating {
  margin: 0 auto 10px !important;
}
.woocommerce ul.products li.product .onsale,.woocommerce span.onsale{
  background: var(--color-primary1);
  padding: 0;
  top: 25px !important;
  left: 25px !important;
  color: #fff;
}
.woocommerce span.onsale{
  right: 25px;
  left: auto !important;
}
.products li {
  border: solid 1px #ddd;
  padding: 10px !important;
  text-align: center;
}
a.added_to_cart.wc-forward{
   padding: 8px 10px;
   margin-right: 5px;
   border-radius: 0;
   font-size: 13px;
   text-transform: uppercase;
   color: #fff;
   background: var(--color-primary1);
}
h2.woocommerce-loop-product__title,
.woocommerce div.product .product_title {
  color: #151515;
  font-weight: 800;
  margin-bottom: 10px !important;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #151515;
  font-size: 15px
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
  color: #151515;
  font-size: 15px
}
.wc-block-checkout__actions_row .wc-block-components-checkout-place-order-button,.wc-block-cart__submit-container a,.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  display: inline-block;
  padding: 10px 14px;
  border-radius: 0;
  letter-spacing: 1px;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;background: var(--color-primary1);
  color: #fff !important;
}
.wc-block-components-product-badge{
  background-color: var(--color-primary1);
  font-weight: 500;
  padding: 8px !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px !important;
  color: #fff !important;
  display: inline-block;
  border-radius: 10px;
  border:none;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
  width: 50%;
}
.wc-block-cart__submit-container a:hover,.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  border: 1px solid var(--color-primary1);
  color: var(--color-primary1) !important;
  background: #fff;
}
.woocommerce .quantity .qty {
  width: 5em;
  padding: 9px;
  border-radius: 0;
  border: solid 2px #151515;
  color: #151515;
}
.col-1,.col-2 {
  max-width: 100%;
}
.woocommerce .singlepage-main p a{
  text-decoration: underline;
}
nav.woocommerce-MyAccount-navigation ul {
  list-style: none;
  padding: 0;
}
nav.woocommerce-MyAccount-navigation ul li {
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: -2px 2px 0 0 #151515;
  font-weight: bold;
  background-color: var(--color-primary1);
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #fff;
  text-decoration: none;
}
nav.woocommerce-MyAccount-navigation ul li:hover{
  background-color: #fff;
  border: 1px solid var(--color-primary1);
  color: var(--color-primary1);
}
nav.woocommerce-MyAccount-navigation ul li:hover a{
  color: var(--color-primary1);
}
span.woocommerce-input-wrapper,
.woocommerce label,span.password-input {
 width: 100%;
}
.woocommerce .woocommerce-ordering select {
  padding: 5px;
  font-size: 12px;
}
span.posted_in {
  display: block;
}
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
  width: 22%;
  display: inline-block;
  margin: 5px;
}
.wc-block-checkout__actions_row .wc-block-components-checkout-place-order-button{
  border: none !important;
}
.woocommerce #review_form #respond,.wc-block-checkout__form {
  padding: 20px;
  }
  .is-large.wc-block-cart .wc-block-cart-items td:after ,.is-large.wc-block-cart .wc-block-cart-items:after {
    border-color: transparent;
}
.wc-block-cart .wc-block-cart-items th,.wp-block-woocommerce-cart-order-summary-block .wc-block-cart__totals-title{
    padding: 10px !important;
}
.wc-block-cart table.wc-block-cart-items{
    margin: 0 !important;
}
.wc-block-checkout__form,.wc-block-cart-items__row,.wc-block-cart-items__header,.wp-block-woocommerce-checkout-order-summary-block,.wp-block-woocommerce-cart-order-summary-block,.is-large.wc-block-cart .wc-block-cart-items{
    border: 1px solid #ebebeb;
}
.wc-block-components-totals-wrapper:after,.wc-block-components-order-summary-item:after{
    border-color: #ebebeb;
    opacity: 1 !important;
}
.wc-block-cart__submit-container a{
    margin-top: 15px;
}
.wc-block-checkout__actions_row a{
    color: #151515;
}
.wc-block-components-notice-banner>.wc-block-components-notice-banner__content .wc-forward:hover{
  background: transparent;
  box-shadow: none;
}
.wc-block-components-notice-banner>.wc-block-components-notice-banner__content .wc-forward{  
  box-shadow: none;
}
.wp-block-woocommerce-checkout,.wp-block-woocommerce-cart{
  color: #151515;
}
.wp-block-woocommerce-cart.alignwide, .wp-block-woocommerce-checkout.alignwide.wc-block-checkout {
    margin-left: auto !important;
    margin-right: auto !important;
}
.wc-block-components-sidebar-layout .wc-block-components-main {
    padding-left: 0% !important;
}
.wc-block-components-order-summary .wc-block-components-order-summary-item__total-price{
  font-size: 10px !important;
}
/*--------------------------------------------------------------
Posts Numbers
--------------------------------------------------------------*/
.page-numbers {
  background: var(--color-primary1);
  color: #fff;
  padding: 7px;
  font-weight: bold;
}
.prev.page-numbers,
.next.page-numbers {
  font-size: 15px;
  background: var(--color-primary1);
}
.prev.page-numbers:focus,
.prev.page-numbers:hover,
.next.page-numbers:focus,
.next.page-numbers:hover {
  background-color:#fff;
  border:1px solid var(--color-primary1);
  color: var(--color-primary1);
}
.page-links {
  font-size: 14px;
  font-weight: 800;
  padding: 2em 0 3em;
}
.page-links .page-number {
  color: #1c1c1c;
  display: inline-block;
  padding: 0.5em 1em;
}
.page-links a {
  display: inline-block;
}

.page-links a .page-number {
  color: #151515;
}
.related-post-block .page-box{
  padding: 10px;
}
/* Post Navigation */
.post-navigation {
  font-weight: 500;
  margin: 3em 0;
}
.nav-subtitle {
  background: transparent;
  color: #1c1c1c;
  display: block;
  font-size: 11px;
  letter-spacing: 0.1818em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.nav-title {
  color: #000;
  font-size: 15px;
}
span.meta-nav {
  color: #fff;
  background: var(--color-primary1);
  padding: 10px;
}
span.post-title{
  color: #000;
  font-size: 16px;
}
.nav-previous {
  float: left;
}
p.cart-value.simplep{
  color: #fff;
}
/*--------------------------------------------------------------
 404 page
--------------------------------------------------------------*/
.error-404.not-found h1{
  font-size: 60px;
  font-weight: 900;
}
.error-404.not-found p{
  font-size: 17px;
}
.error404 .page-content {
  padding-bottom: 4em;
}
.error404 .page-content .search-form,
.search .page-content .search-form {
  margin-bottom: 3em;
}
.error-404 input[type="search"] {
  border: solid 1px #1c1c1c;
  padding: 10px;
}
.error-404 [type="submit"] {
  padding: 10px;
  background: var(--color-primary1);
  border: solid 1px var(--color-primary1);
  cursor: pointer;
  font-weight: 500;
}

/*--------------------------------------------------------------
Sidebar
--------------------------------------------------------------*/

#theme-sidebar section {
  margin: 0 20px 2em 0;
  border-bottom: 3px solid var(--color-primary1);
  padding: 30px 35px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 2px #aaa;
  border-bottom: 3px solid var(--color-primary1);
}
#theme-sidebar section:hover {
    box-shadow: 0 0 20px #cfcfcf;
}
#theme-sidebar ul li a{
  position: relative;
  z-index: 99;
}
#theme-sidebar ul li a::before {
    color: var(--color-primary1);
    content: "\f192";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 12px;
    right: -25px;
    position: absolute;
    top: 0;
    margin-right: 2px;
}
#theme-sidebar a,#theme-sidebar .wp-block-latest-comments__comment-author, #theme-sidebar .wp-block-latest-comments__comment-link {
  color: #001837;
  font-size: 16px;
}
#theme-sidebar .wp-block-search .wp-block-search__label,#theme-sidebar h3, #theme-sidebar h1.wp-block-heading, #theme-sidebar h2.wp-block-heading, #theme-sidebar h3.wp-block-heading,#theme-sidebar h4.wp-block-heading, #theme-sidebar h5.wp-block-heading, #theme-sidebar h6.wp-block-heading {
  border-bottom: 1px solid #ebebeb;
  font-size: 23px;
  color: #000;
  padding-bottom: 10px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #f1f1f1;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
#theme-sidebar .wp-block-search .wp-block-search__label:before,#theme-sidebar h3:before, #theme-sidebar h1.wp-block-heading:before, #theme-sidebar h2.wp-block-heading:before, #theme-sidebar h3.wp-block-heading:before,#theme-sidebar h4.wp-block-heading:before, #theme-sidebar h5.wp-block-heading:before, #theme-sidebar h6.wp-block-heading:before {
  position: absolute;
  content: "";
  right: 0;
  left: 0;
  margin: auto;
  background: var(--color-primary1);
  width: 77px;
  height: 3px;
  bottom: -3px;
  border-radius: 0;
}
#theme-sidebar ul,#footer ul {
  list-style: none;
  padding: 0;
}
#theme-sidebar li:last-child {
  border: none;
}
#theme-sidebar li {
  color: #001837;
  line-height: 20px;
  padding: 10px 5px;
  margin-right: 10px;
  font-size: 16px;
  margin-top: 10px;
}
#theme-sidebar ul li a{
  margin-bottom: 10px;
}
#theme-sidebar a:hover {
  color: var(--color-primary1);
}
#footer .wp-block-latest-comments article,
#theme-sidebar .wp-block-latest-comments article {
    margin-bottom: 0em;
}
#footer .wp-block-latest-comments__comment-meta,
#theme-sidebar .wp-block-latest-comments__comment-meta {
    margin-bottom: 0px;
}
#footer ol.wp-block-latest-comments,
#theme-sidebar ol.wp-block-latest-comments{
  padding-inline-start: 0px;
}
#theme-sidebar .textwidget img{
  width: 100%;
  height: auto;
}
#theme-sidebar select {
  padding: 10px;
  border: solid 1px #ebebeb;
  background: transparent;
  font-size: 14px;
  width: 100%;
  color: #001837;
}
#theme-sidebar .tagcloud a, #sidebar p.wp-block-tag-cloud a ,.post_tag a, #theme-sidebar .widget_tag_cloud a {
  border: 1px solid #cecece;
  color: #001837;
  line-height: 20px;
  padding: 7px 13px;
  font-size: 15px !important;
  display: inline-block;
  margin: 3px;
}
#theme-sidebar .tagcloud a:hover,#sidebar p.wp-block-tag-cloud a:hover, .post_tag a:hover,#theme-sidebar .widget_tag_cloud a:hover{
  background-color:var(--color-primary1);
  color: #fff;
  border-color: var(--color-primary1);
}

#theme-sidebar .tagcloud {
  margin-top: 15px;
}
#theme-sidebar input[type="search"],
#footer input[type="search"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 15px;
}
#footer .wp-block-search__inside-wrapper,
#theme-sidebar .wp-block-search__inside-wrapper{
  display: block;
}
#footer .wp-block-search__button,
#theme-sidebar .wp-block-search__button{
  margin-right: 0px;
}
#theme-sidebar button[type="submit"],
#footer button[type="submit"] {
  padding: 8px;
  width: 100%;
  margin-top: 10px;
  background: #fff;
  border: none;
  cursor: pointer;
  color: var(--color-primary1);
  font-size: 20px;
}
#footer button[type="submit"]:hover{
  background: var(--color-primary1);
  color: #fff;
}
#theme-sidebar button[type="submit"]{
  background: var(--color-primary1);
  color: #fff;
}
#theme-sidebar button[type="submit"]:hover{
  border: 1px solid var(--color-primary1);
  background: #fff;
  color: var(--color-primary1);
} 
#theme-sidebar table#wp-calendar {
  border: solid 1px #ebebeb;
  text-align: center;
  margin-top: 15px;
  width: 100%;
}
#footer.wp-block-calendar,
#theme-sidebar.wp-block-calendar{
  text-align: right;
}
#theme-sidebar th,#theme-sidebar td {
  border-left: solid 1px #ebebeb;
  padding: 10px 0;
}
#theme-sidebar tr {
  border-bottom: solid 1px #ebebeb;
}
.woocommerce #tp_content {
  margin-top: 30px;
}
#theme-sidebar .textwidget img {
  width: 100%;
  height: auto;
}
#theme-sidebar  .p {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
}
#footer .wp-block-media-text__media img, #theme-sidebar .wp-block-media-text__media img{
padding-top: 15px;
}
#footer .wp-block-media-text,
#theme-sidebar .wp-block-media-text {
  box-sizing: border-box;
  direction: rtl;
  display: inline;
  grid-template-columns: 50% 1fr;
  grid-template-rows: auto;
}

/*--------------------------------------------------------------
Comments
--------------------------------------------------------------*/
#comments p a, .woocommerce-MyAccount-content p a, .content-area figure a, .content-area .right-sidebar p a, .content-area table a,
.content-area dd a, .box-content p a, .content-area li a, .wp-block-heading a{
  text-decoration: underline;
}
#comments #respond,.related-post-block{
  border: 1px solid #ebebeb;
  padding: 20px;
}
#comments {
  clear: both;
  padding: 2em 0 0.5em;
}
.comments-title {
  font-size: 20px;
  margin-bottom: 1.5em;
}
.comment-list,
.comment-list .children {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comment-list li:before {
  display: none;
}
.comment-body {
  margin-right: 65px;
}
.comment-author {
  font-size: 16px;
  margin-bottom: 0.4em;
  position: relative;
  z-index: 2;
}
.comment-author .avatar {
  height: 50px;
  right: -65px;
  position: absolute;
  width: 50px;
}
.comment-author .says {
  display: none;
}
.comment-meta {
  margin-bottom: 1.5em;
}
.comment-metadata {
  color: #767676;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 0.1818em;
  text-transform: uppercase;
}
.comment-metadata a {
  color: #767676;
}
.comment-metadata a.comment-edit-link {
  color: #151515;
  margin-right: 1em;
}
.comment-body {
  color: #000;
  font-size: 14px;
  margin-bottom: 4em;
}
.comment-reply-link {
  font-weight: 800;
  position: relative;
}
.comment-reply-link .icon {
  color: #151515;
  right: -2em;
  height: 1em;
  position: absolute;
  top: 0;
  width: 1em;
}
.children .comment-author .avatar {
  height: 30px;
  right: -45px;
  width: 30px;
}
.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
  border: 1px solid #000;
  padding: 2px;
}
.no-comments,
.comment-awaiting-moderation {
  color: #767676;
  font-size: 14px;
  font-style: italic;
}
.comments-pagination {
  margin: 2em 0 3em;
}
.comment-form #wp-comment-cookies-consent {
  margin: 0 0 0 10px;
}
.comment-form .comment-form-cookies-consent label {
  display: inline;
}
#comments input[type="submit"] {
  display: inline-block;
  padding: 8px 14px;
  border-radius: 0;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 600;
  background-color: var(--color-primary1);
  color: #fff;
  text-transform: uppercase;
}
#comments input[type="submit"]:hover{
  border:  1px solid var(--color-primary1);
  background-color: #fff;
  color: var(--color-primary1);
}
input[type="text"],
input[type="email"],
input[type="phno"],
input[type="password"],input#url,
textarea{
  border:1px solid #c8c8c8;
  width:100%;
  font-size:16px;
  padding:10px 10px;
  margin:0 0 23px 0;
  height:auto;
}

/*--------------------------------------------------------------
Commen CSS
--------------------------------------------------------------*/

#primary {
  padding: 3% 0;
}
.sticky .page-box h4{
  background: url(assets/images/pin.png) no-repeat scroll 100% 0px;
  padding-right: 40px;
}
#gallery-1 img {
  border: 2px solid #151515 !important;
}
#gallery-1 .gallery-item {
  width: 30% !important;
  margin: 4px;
}
iframe,
.entry-audio audio{
  width: 100%;
}
.entry-video {
    width: 100%;
}
.entry-audio {
    width: 100%;
}
/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
#footer {
  background: var(--color-primary1);
  clear: both;
}
#footer section{
  margin-bottom: 28px;
}
#footer .site-info p{
  font-size: 17px;
  font-weight: 600;
  color: #fff !important;
}
#footer h2,#footer h3,#footer h1.wp-block-heading, #footer h2.wp-block-heading, #footer h3.wp-block-heading,#footer h4.wp-block-heading, #footer h5.wp-block-heading, #footer h6.wp-block-heading {
  font-size: 30px;
  padding: 10px 0;
  color: #fff;
  border-bottom: dashed 1px #fff;
  margin-bottom: 10px;
}
#footer .wp-block-latest-comments__comment-date, #footer .wp-block-search .wp-block-search__label,#footer p,#footer li a,#footer .wp-block-latest-comments__comment-author, #footer .wp-block-latest-comments__comment-link {
  color: #fff;
}
#footer li a:hover{
    color: #fff;
}
#footer li {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
}
#footer table#wp-calendar {
  border: dashed 1px #fff;
  text-align: center;
  margin-top: 15px;
  width: 100%;
}
#footer th,#footer td {
  border-left: dashed 1px #fff;
  padding: 5px 0;
  color: #fff;
}
#footer tr {
  border-bottom: dashed 1px #fff;
  color: #fff;
}
#footer select {
  padding: 5px;
  width: 100%;
}
#footer .widget_rss img{
  width: auto;
}
#footer .widget_rss li{
  border-bottom: solid 2px #fff;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#footer .textwidget {
  color: #8f8787;
}
#footer .tagcloud a,#footer p.wp-block-tag-cloud a {
  border: 1px dashed #fff;
  color: #fff;
  line-height: 20px;
  padding: 5px 10px;
  font-size: 12px !important;
  display: inline-block;
  margin-bottom: 5px;
}
#footer .tagcloud a:hover,#footer p.wp-block-tag-cloud a:hover{
  border: 1px dashed var(--color-primary1);
  color: var(--color-primary1);
}
.site-info {
  background: #000;
  padding: 15px 0;
}
.site-info p,.site-info a{
  margin-bottom: 0;
  text-align: center;
  color: #fff;
}
.site-info a:hover{
  color: #000!important;
}
/*--------------------------------------------------------------
Scroll Top
--------------------------------------------------------------*/

#return-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 99;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  z-index: 9999;
  position: absolute;
  transform: translate(50%, -50%);
  right: 50%;
  top: 50%;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

/*--------------------------------------------------------------
## Sticky
--------------------------------------------------------------*/

.stick_head {
  position: fixed;
  width: 100%;
  z-index: 99999;
  top: 0;
  right: 0;
  background: #fff;
}
.menubar.login-user.stick_head {
    margin-top: 32px;
}

/*--------------------------------------------------------------
WordPress Core
--------------------------------------------------------------*/
.alignwide {
 margin-right : -80px;
 margin-left : -10px;
}
.alignfull {
 margin-right: -48px;
 width: calc(100% + 64px) !important;
 max-width: 100vw;
 
}
.alignfull img {
  width: 100vw;
}
.alignnone {
  margin: 5px 0 20px 20px;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float:left;
  margin: 5px 20px 20px 0;
}
.alignleft {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignright {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignnone {
  margin: 5px 0 20px 20px;
}
a img.alignleft {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 0 20px 20px;
}
.wp-caption.alignleft {
  margin: 5px 0 20px 20px;
}
.wp-caption.alignright {
  margin: 5px 20px 20px 0;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
/*--------------------------------------------------------------
Media Queries
--------------------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1000px){
  #slider .inner_carousel h1 a{
    font-size: 39px;
  }
  #slider .slider-border img{
    height: 500px;
  }
  .woocommerce ul.products.columns-3 li.product,
  .woocommerce-page ul.products.columns-3 li.product{
    width: 100%;
  }
  .woocommerce .woocommerce-ordering,
  .woocommerce-page .woocommerce-ordering{
    float: none;
  }
  .blog-description{
    font-size: 10px;
  }
}
@media screen and (min-width:1400px) and (max-width:1440px){
  #service-sec h2{
    padding-right: 4em;
  }
  .abt-imagebox{
    border:3px solid #fff;
  }
  #slider .abt-imagebox img{
    height: 60px;
  }
  #slider .owl-nav button.owl-next{
    left: -3%;
  }
  #slider .owl-nav button.owl-prev{
    right: -3%;
  }
  .toptext{
    font-size: 17px;
  }
  .slider-img-col{
    padding-bottom: 76px;
  }
  .serv-box h4 a{
    font-size: 18px;
  }
  .team-role{
    font-size: 13px;
  }
  .serv-social-media a i{
    width: 35px;
    height: 35px;
    font-size: 14px;
  }
  #our-services h3{
    font-size: 29px;
  }
}
@media screen and (min-width:1001px) and (max-width:1024px){
  #product-section .product-image img{
    height: 300px;
  }
  #product-section .sale-tag, #product-section .main-rating{
    font-size: 11px;
  }
  #product-section p.project-top-text{
    font-size: 14px;
  }
  #product-section .feature-left h2{
    font-size: 22px;
  }
  #product-section h3.product-heading-text a{
    font-size: 12px;
  }
  #product-section .product-price ins bdi, #product-section .product-price del{
    font-size: 12px;
  }
  #product-section a.add_to_cart_button, #product-section .added_to_cart{
    font-size: 10px;
    letter-spacing: 2px;
    padding: 5px 11px 5px 28px;
  }
  #slider .inner_carousel h1 a{
    font-size: 65px;
  }
  .main-navigation a{
    padding: 11px 0;
  }
  .main-navigation li{
    padding: 0 10px;
  }
  .main-navigation a, #blog-section .hover-box p, .logo p.site-description{
    font-size: 11px;
  }
  .main-navigation li.menu-item-has-children::after{
    font-size: 9px;
  }
  .logo p.site-title a, .logo h1 a{
    font-size: 25px;
  }
}
@media screen and (max-width: 1000px){
  #product-section .product-image img{
    height: 300px;
  }
  #product-section .sale-tag, #product-section .main-rating{
    font-size: 11px;
  }
  #product-section p.project-top-text{
    font-size: 14px;
  }
  #product-section .feature-left h2{
    font-size: 22px;
  }
  #product-section h3.product-heading-text a{
    font-size: 12px;
  }
  #product-section .product-price ins bdi, #product-section .product-price del{
    font-size: 12px;
  }
  #product-section a.add_to_cart_button, #product-section .added_to_cart{
    font-size: 10px;
    letter-spacing: 2px;
    padding: 5px 11px 5px 28px;
  }
  .main-navigation ul ul li:hover > a, .main-navigation ul ul li > a{
    color: #fff;
  }
  .main-navigation ul{
    display: block;
  }
  .main-menu {
    margin-left: 0;
  }
  .main-navigation ul, .main-navigation ul .current_page_item a, .main-navigation ul .current_page_item a{
    background: var(--color-primary1);
  }
  .main-navigation ul .current_page_item a, .main-navigation ul .current_page_item a{
    color: #fff;
  }
  .join-btn a{
    padding: 5px 12px;
    font-size: 14px;
  }
  .feature-item i{
    font-size: 9px;
    padding: 3px;
  }
  .main-navigation ul .current_page_item a:before, .main-navigation ul .current_page_item a:before{
    content: none;
  }
  .main-navigation .current_page_item > a, .main-navigation .current-menu-item > a, .main-navigation .current_page_ancestor > a{
    color: #fff;
  }
  .logo p.site-title, .logo h1{
    line-height: 1;
  }
  .logo p.site-description{
    font-size: 10px;
  }
  .logo p.site-title a, .logo h1 a{
    font-size: 27px;
  }
  .nav-previous{
   padding: 5px;
   text-align: center;
    float: none; 
  } 
  #footer{
  text-align: center;
  }
  .nav-next{
    text-align: center;
  }
  .nav ul li a{
   font-size: 15px;
  }
  .box-text{
    top: 50%;
    right: 5%;
    left: 5%;
  }
  .nav-links {
    padding-bottom: 21px;
  }
  .main-navigation ul ul{
    background-color: transparent;
  }
  .main-navigation ul ul li, .menubar.scrolled .main-navigation ul ul li{
    border-bottom: none;
  }
   .main-navigation .sub-menu {
    width: 100% !important;
  }
  .main-navigation .sub-menu li {
    opacity: 1 !important;
    display: block !important;
  }
  .main-navigation .sub-menu{
    opacity: 1;
  }
  .toggle-nav {
    display: none;
    cursor: pointer;
    margin: 0 auto;
    z-index: 999999;
    text-align: left;
  }
  .toggle-nav button {
    font-size: 26px;
    color: #fff;
    background: var(--color-primary1);
    border: none;
    padding: 10px 12px;
    display: inline-block;
    margin: 5px 0 10px;
    border-radius: 5px;
  }
  .toggle-nav i{
    display: block;
  }
  .sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    visibility: hidden;
    background-color: var(--color-primary1);
    transition: 0.5s width ease-in-out;
    padding-top: 60px;
    box-shadow: -2px 2px 10px 0px #2d2d2d;
    overflow-y: scroll;
  }
  .sidenav.open{
    visibility: visible;
  }
  .sidenav a {
    text-decoration: none;
    color: #818181;
    display: block;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .admin-bar div#mySidenav {
    padding-top: 100px;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 40px;
    left: 25px;
    font-size: 36px;
    display: block;
    color: #ffffff;
  }
  .sidenav #site-navigation {
    width: 100%;
  }
  .toggle-nav span{
    font-size:30px;
    cursor:pointer;
    text-align: left;
  }
  .toggle-nav{
    display: block;
    text-align: center;
  }
  .innermenubox {
    position: static;
  }
  .main-navigation a{
    color: #444;
  }
  .main-navigation .menu{
    float: none;
    text-align: center;
  }
  .main-navigation ul ul li,
  #masthead.scrolled .main-navigation ul ul li{
    display: block;
  }
  .main-navigation .menu > ul > li.highlight{
    background: transparent !important;
  }
  .menu > ul > li:hover:before,
  .menu > ul > li.current_page_item:before,
  .menu > ul > li.current-menu-item:before{
    display: none;
  }
  .sf-arrows .sf-with-ul:after{
    border-top-color: #000;
  }
  .toggle i.fa.fa-bars,.toggle i.fa.fa-times {
    float: left;
    color: black;
  }
  .menubar .nav ul{
    width:100%;
    margin-top:0;
  }
  .menubar .nav ul li,
  .menubar.scrolled .main-navigation li{
    border-top:1px #303030 solid;
    display:block;
    text-align:right;
    float:none;
    width: 100%;
  }
  .nav ul li a{
    padding: 10px;
    display: block;
    color: #ffffff;
    text-align: center;
  }
  .nav ul li a:hover{
    color:#fff !important;
  }
  .nav ul li ul,
  .nav ul li ul ul{
    opacity: 1;
  }
  .nav ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .nav ul li ul li a{
  padding-right:20px !important;
  }
  .nav ul li ul li ul li a{
    padding-right:30px !important;
  }
  .main-navigation ul ul{
    position: static;
    width: 100%;
    box-shadow: none;
  }
  .main-navigation li{
    padding: 0;
  }
  .scrolled{
    position: static;
  }
  #category-post img{
    padding-bottom: 10px;
  }
  .main-navigation li.page_item_has_children:after,
  .main-navigation li.menu-item-has-children:after{
    display: none;
  }
  .main-navigation li{
    display: block;
  }
  .main-navigation li:last-child a{
    text-align: center;
  }
}
@media screen and (max-width: 767px){
  #slider .slider-border img{
    height: 500px;
  }
  .header-details{
    justify-content: center;
  }
  .logo {
    text-align: center;
    margin: 14px 0;
  }
  #slider .inner_carousel h1{
    line-height: 1.3;
  }
  #slider .inner_carousel h1 a {
    font-size: 40px;
  }
  #slider p.slide-content{
    display: none;
  }
  .contactbox{
    margin-top: 20px;
  }
  p.infotext{
    font-size: 13px;
  }
  .woocommerce ul.products.columns-3 li.product,
  .woocommerce-page ul.products.columns-3 li.product{
    width: 100%;
  }
  .woocommerce .woocommerce-ordering,
  .woocommerce-page .woocommerce-ordering{
    float: none;
  }
  .logo {
    text-align: center;
    margin: 14px 0;
  }
  .blog-description{
    font-size: 10px;
  }
}
@media screen and (min-width:1460px) and (max-width:1700px){
 #slider h1 a{
  font-size: 40px;
 }
}
@media screen and (min-width:1366px) and (max-width:1400px){
  #service-sec h2{
    padding-right: 120px;
  }
  #service-sec h2{
    height: 50px;
  }
}
@media screen and (min-width:1366px) and (max-width:1450px){
  .serv-box h4 a{
    font-size: 18px;
  }
  .team-role{
    font-size: 13px;
  }
  .serv-social-media a i{
    width: 35px;
    height: 35px;
    font-size: 14px;
  }
  #our-services h3{
    font-size: 29px;
  }
  #slider .call-simplep a{
    font-size: 20px;
  }
  .toptext{
    padding: 11px;
    font-size: 18px;
  }
  .slider-img-col img{
      height: auto;
    }
  .cat-inner-box .post-content{
    font-size: 14px;
  }
  .contact.call i{
    font-size: 25px;
  }
  .contact-content a, .contact-content{
    font-size: 18px;
  }
  p.infotext{
    font-size: 13px;
  }
  .serv-icon i{
    font-size: 16px;
  }
  #our-services .cat-inner-box img, #our-services .course-color{
    height: 250px;
  }
  .call-text{
    font-size: 14px;
  }
  .about-call-icon i{
    font-size: 18px;
    padding: 11px;
  }
  #slider .inner_content p.slider-top{
    font-size: 28px;
  }
  #slider p.slide-content{
    font-size: 11px;
  }
  #slider h1 a{
    font-size: 32px;
  }
  .search-close{
    font-size: 17px;
  }
  .main-navigation li.menu-item-has-children::after{
    font-size: 8px;
  }
  .main-navigation ul .current_page_item a:before, .main-navigation ul .current_page_item a:before{
    border-top: 2px solid var(--color-primary1);
  }
  .logo p.site-title a, .logo h1 a{
    font-size: 27px;
  }
  .logo p.site-description{
    font-size: 10px;
  }
  .main-navigation a{
    font-size: 14px;
    padding: 15px 10px;
  }
  .search-bar i{
    font-size: 14px;
    padding: 10px;
  }
}
@media screen and (max-width:1200px){
    .wc-block-components-totals-wrapper,.is-medium table.wc-block-cart-items .wc-block-cart-items__row, .is-mobile table.wc-block-cart-items .wc-block-cart-items__row, .is-small table.wc-block-cart-items .wc-block-cart-items__row {
        padding: 16px 10px !important;
    }
    .wc-block-cart table.wc-block-cart-items{
        margin: 0 0 2em !important  ;
    }
}
@media screen and (min-width:1900px) and (max-width:1920px){
 .slider-img-col img{
  height: 400px;
 }
}
@media screen and (min-width:1700px) and (max-width:1900px){
  .container{
    max-width: 1520px;
  }
}
@media screen and (min-width:1920px) {
  .container{
    max-width: 1620px;
  }
}